.completo{
  background-color: rgb(198, 198, 198);
}

.Cabecera{
  color: rgb(56, 56, 56);
  width: 100%;
  margin-left: 3%;
  background-color: rgb(78, 153, 206);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  margin-top: 20px;
  border: 0.5px solid black;
  box-shadow: 0 0 5px black;  
  
}

.animacion{
  width: 30px;
  height: 30px;
  background-color: #8f99a4;
  
  animation-name: MiAnimacion;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
      }
  
  @keyframes MiAnimacion {
      from {
          font-size:0%;
          margin-left:100%;
      }
      25% {
          font-size:45%;
          margin-left:50%;
      }
  
      50% {
          font-size:90%;
          margin-left:50%;
      }
  
      to {
          font-size:90%;
          margin-left:5%;
          width:100%;
      }
  }

  nav ul li {
    width: 18%;
    display: inline-block;
    justify-content: space-evenly;
    border: 1px solid;
    border-radius: 0.25em;
    margin-left: 5%;
    box-shadow: 0 0 5px black;
      
    
}
nav ul li a{
    background-color: rgb(44, 76, 99);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
    
}
